h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    line-height: 64px;
    color: white;
    margin: 16px;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: white;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    text-align: left;
}

a {
    text-decoration: none;
}

.description--text {
    width: 416px;
}

.container {
    width: 1170px;

    padding-right: 15px;
    padding-left: 15px;

    margin-right: auto;
    margin-left: auto;
}

.header {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding: 45px 0;
}

.header__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.header__logo {
    position: absolute;
    left: 0;
}

.header__logo--link {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.header__menu {
    display: flex;
    align-items: center;
    list-style: none;

    margin: 0;
}

.header__menu__item:not(:first-of-type) {
    margin-left: 32px;
}

.header__menu__item--link {
    position: relative;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.header__menu__item--link::before {
    content: '';

    position: absolute;
    left: 0;
    bottom: -6px;

    background-color: #FFFFFF;
    height: 2px;
    width: 0;

    transition: 0.3s width ease;
}

.header__menu__item--link:hover::before {
    width: 100%;
}

.hero {
    background-image: url('/assets/hero-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.hero__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero__block--icon {
    height: 63px;
    width: 63px;
}

.hero__block--subtitle {
    color: rgba(255, 255, 255, 0.7);
}

main {
    background:#ffffff;
    height: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#burger_menu {
    display: none;
}

#main_h2 {
    color: #666666;
}

#headermain_h1 {
    color: #464547;
}

#play_button {
    margin: 53px;
}

#read_more_button {
    font-family: Oswald;
    font-size: 14px;
    color: white;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    background: #55C2D8;
    border-radius: 18px;
    width: 115px;
    height: 36px;
}

.learn-more {
    background: url(/assets/Background\ image.jpg ) 50% 0 no-repeat;
    height: 666px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    display: flex;
    width: 907px;
    justify-content: space-between;
    margin: 45px 0;
}

.footer {
    background-color: #464547;
    padding: 36px 0 72px;
}

.footer__wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 50px);
    grid-template-areas:
    'logo   empty1 street empty2 empty3 empty4    empty5'
    'empty6 empty7 email  empty8 empty9 copyright copyright';
}

.footer__logo {
    grid-area: logo;
    display: flex;
    align-items: center;
}

.footer--text.street {
    grid-area: street;
}

.footer--text.email {
    grid-area: email;
}

.footer--text.copyright {
    grid-area: copyright;
    text-align: right;
}

.footer__logo--icon {
    height: 20px;
    width: 20px;
}

.footer__logo--title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;

    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #FFFFFF;
    margin: 0 0 0 16px;
}

.footer--text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;

    color: rgba(255, 255, 255, 0.4);
    margin: 0;
}

@media screen and (max-width: 768px) {
    .header__menu {
        display: none;
    }

    #headermain_h1 {
        width: 330px;
        margin-top: 200px;
    }

    .description {
        flex-direction: column;
        margin: 0;
        width: auto;
    }

    .description--text {
        align-items: center;
        width: 400px;
        margin: 24px 0;
    }

    .footer__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width:fit-content;
    }

    .footer--text street {
        text-align: center;
    }

    #burger_menu {
        display: block;
    }
}